body{
  /* background-image: linear-gradient(to left top, #ff5305, #ffffff); */
  width:100%;
  height:100%;
}

#container{
  margin-left:80px;
  margin-top:50px;
  width:800px;
  height:800px;
  display: inline-block;
}

h1, h2, h3{
  font-family: "nimbus-sans";
}

h1 {
  color:#FF530D;
}

h1 img{
  width:450px;
}

a, a visited {
  color:#FF530D;
}

p {
  font-family: "prestige-elite-std",monospace;
}

@media only screen and (min-width : 320px) {

  h1 img{
    width:700px;
  }

  h2{
    font-size:2em;
  }

  h3{
    font-size:2.5em;
  }

  p{
    font-size:2em;
  }


}
